<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light shadow-sm rounded sticky-top">
      <a class="navbar-brand" href="/"><i class="fas fa-comments"></i> Questionnaire</a>
      <form class="form-inline my-2 my-lg-0 w-50" method="post" action="/questions/search">
      <input class="form-control mr-sm-2 w-50 search" type="search" placeholder="Search" name="keyword" aria-label="Search">
      <input class="btn btn-secondary" type="submit" value="Search">
    </form>
      <div class="btn-group" role="group" aria-label="">
        {{#unless no_com}}
        <a href="/communities/create/new"><button type="button" class="btn btn-secondary">Create Community</button></a>&nbsp;
        {{/unless}}
        {{#unless no_ques}}
        <a href="/questions/create/new"><button type="button" class="btn btn-secondary">Ask a Question</button></a>
        {{/unless}}
      </div>
    {{#if session.userId}}
      <div class="btn-group" role="group" aria-label="">
        <a href="/users/{{session.userId}}"><button type="button" class="btn btn-secondary">My Account</button></a>&nbsp;
        <a href="/site/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
      </div>
      {{else}}
      <div class="btn-group" role="group" aria-label="">
        <a href="/users/signup"><button type="button" class="btn btn-secondary">Register</button></a>&nbsp;
        <a href="/site/login"><button type="button" class="btn btn-secondary">Login</button></a>
      </div>
      {{/if}}
    </nav>
    <br />
    <div class="ml-5 mr-5 con">
    {{{body}}}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/6bb6871a7b.js" crossorigin="anonymous"></script>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="/">Questionnaire</a>
  </div>
  <!-- Copyright -->  
  </footer>
<!-- Footer -->

  {{#if scriptUrl}}
  {{#each scriptUrl}}
  <script src="/public/js/{{this}}"></script>
  {{/each}}
  {{/if}}
  </body>
</html>