
<h2>Flagged Questions:</h2>
{{#if this.qflag.length}}
  {{#each this.qflag}}

    <h4>Title: <a href='/questions/{{this._id}}'>{{this.title}}</a></h4>
    <form
      action='/communities/{{this.communitiyID}}/{{this._id}}/delete/flaggedque'
    >
      <span>Number of times flagged:{{this.flag}}</span>
      <button type='submit' class="btn btn-link">Delete</button>
    </form>
    <br>
  {{/each}}
{{else}}
  <p> There are no flagged Questions</p>
{{/if}}
{{#if error}}
  <p> {{error}}</p>
{{/if}}
<br><br>
<h2>Flagged Answeres:</h2>
{{#if this.aflag.length}}
  {{#each this.aflag}}
    <h4>Description: {{this.title}}</h4>
    <form
      action='/communities/{{this.communitiyID}}/{{this._id}}/delete/flaggedqans'
    >
      <span>Number of times flagged:{{this.flag}}</span>
      <button type='submit' class="btn btn-link">Delete</button>
    </form>
  {{/each}}
{{else}}
  <p> There are no flagged answers</p>
{{/if}}
{{#if error}}
  <p> {{error}}</p>
{{/if}}

<br />
<br />
<br />
<h4><a href='/communities/{{this.communitiyID}}'>Back to community page</a></h4>