{{!-- shows a page where the user can see the community details--}}
<h1>community title:{{communityInfo.community.name}}</h1>

<h2 id="test">community description:{{communityInfo.community.description}}</h2>
<button id="btnSubscribe" data-subscribeStatus="{{isSubscribed}}" class="btn btn-secondary btn-sm"></button>&nbsp;&nbsp;&nbsp;
{{#if isAdmin}}
<a href="/communities/{{communityInfo.community._id}}/view/flagged"><button id="btnShowFlag" class="btn btn-secondary btn-sm">View Flagged</button></a>
&nbsp;&nbsp;&nbsp;
<a href="/communities/{{communityInfo.community._id}}/edit/edit"><button id="btnEditCom" class="btn btn-secondary btn-sm">Edit Community</button></a>
{{/if}}
{{#if questions}}
<ul>
    {{#each questions}}
    <li>
        <a href="/questions/{{this._id}}">{{this.title}}</a>
        <p>{{this.description}}</p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>There are no questions in this community now. You can post first question.</p>
{{/if}}