<header>
    <div>
        <h1>Questions related to "{{searchTerm}}"</h1>
    </div>
    <div>
        <h3>Total Results: {{searchTotal}}</h3>
    </div>
    {{#if result}}
    <div>
        <!-- List of questions with details -->
        {{#each searchResults}}
        <div>
            <h4><a href="/questions/{{this._id}}">{{this.title}}</a></h4>
            <p>{{this.description}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
    <a href="/"><button class="btn btn-secondary btn-sm">Home</button></a>
</header>