<main>

    {{#each questions}}
    <h4><a href="/questions/{{this._id}}">{{ this.title }}</a></h4>
    <p>{{ this.description }}</p>
    <span>Tags:
    {{#if this.tags}}
        {{#each this.tags }}
            <span>{{ this }}</span>
        {{/each}}
        </span>
        {{/if}}
        {{#unless this.tags}}
        No tags available.
        {{/unless}}
    <hr>
    {{/each}}
<!-- There was a merge conflict here. I'm keeping both - we'll finalize once we decide on the UI. -->
    {{#if questions.length}}
    <ol>
        {{#each questions}}
        <li>
            <h1>{{this.title}}</h1>>
            <p> {{this.description}} </p>
            <p>{{this.tags}}</p>
            <p>Posted Date: {{this.createdAt}}</p>
        </li>
        {{/each}}
    </ol>
    {{else}}
    <p>There no question in this community.</p>
    {{/if}}

</main>