<div>
    <span><h1>{{questionInfo.title}}</h1><h3>(Posted By: {{questionInfo.posterId}})</h3></span>
    <p>{{questionInfo.description}}</p>
    
    <br>
    <h2>Tags :{{questionInfo.tags}}</h2>

    {{#if questionInfo.answers.length}}
    <h3>Answers</h3>
    <ul>
        {{#each questionInfo.answers}}    
        <li>
            <p>{{this.description}}</p>
            <h5>Posted By: {{this.posterId}}</h5>
            <p><a href='/questions/{{../questionInfo._id}}/answers/{{this._id}}/edit'>Edit Answer</a></p>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>